<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="./home.css">
</head>
<body>
<div class="loading" id="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div id="tips"></div>
<div class="page">
    <div class="text-center home-page">
    	后台管理系统
    </div>
</div>

<script src="../../common/js/base.min.js"></script>
<script type="text/javascript" src="../../common/js/sea.js"></script>
<script type="text/javascript" src="../../common/js/utils.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script seajs type="text/javascript" src="./home.js"></script>
</body>
</html>