<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
<title>后台管理系统</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css">
    <link rel="stylesheet" type="text/css" href="./editPassword.css">
</head>
<body>
<div class="loading" id="loading">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div id="tips"></div>
<!-- modal end -->
<div class="page">
    <div class="main-box">

        <div class="line top-line">
            <span class="line-name">用户名:</span>
            <input class="inp user-name" readonly="readonly" placeholder="请输入用户名"></input>
        </div>

        <div class="line">
            <span class="line-name">昵称:</span>
            <input class="inp name" readonly="readonly" placeholder="请输入昵称"></input>
        </div>

        <div class="line">
            <span class="line-name">新密码:</span>
            <input class="inp new-pwd" placeholder="请输入密码"></input>
        </div>
        <div class="line">
            <span class="line-name"></span>
            <button class="btn sure-btn de-btn btn-default">保存</button>
        </div>
    </div>
</div>


<script src="../../common/js/base.min.js"></script>
<script type="text/javascript" src="../../common/js/sea.js"></script>
<script type="text/javascript" src="../../common/js/utils.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script seajs type="text/javascript" src="./editPassword.js"></script>
</body>
</html>