<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmc.mapper.ResourceMapper">


    <insert id="save" parameterType="com.dmc.model.Resource">
        INSERT INTO resource (ID, ICON, NAME, REMARK, SEQ, URL, PID, type)
        VALUES (#{id}, #{iconCls}, #{name}, #{remark},
                #{seq}, #{url}, #{pid}, #{type})
    </insert>
    <update id="update" parameterType="com.dmc.model.Resource">
        UPDATE resource
        <set>
            <if test="iconCls != null">
                icon = #{iconCls},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="seq != null">
                seq = #{seq},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            pid = #{pid},
        </set>

        WHERE ID = #{id}
    </update>


    <delete id="deleteById">
        DELETE FROM resource
        WHERE ID = #{id}
    </delete>

    <select id="getResourceList" resultType="com.dmc.model.Resource">

        SELECT r.*
        FROM dmc.resource r
        <where>
            <if test="userId != null">
                and exists(select 1 from role_resource rr INNER JOIN role role ON rr.ROLE_ID = role.ID
                INNER JOIN user_role ur ON ur.ROLE_ID = role.ID INNER JOIN user u ON u.ID = ur.USER_ID
                WHERE u.ID = #{userId} AND rr.RESOURCE_ID = r.ID)
            </if>
            <if test="type != null">
                and r.type = #{type}
            </if>
        </where>

        order by r.seq
    </select>
    <select id="getById" resultType="com.dmc.model.Resource">
        SELECT
            r.*,
            (SELECT p.name
             FROM resource p
             WHERE r.PID = p.ID)              pname
        FROM
            resource r
        WHERE r.ID = #{id}
    </select>

    <select id="getRoleResourceIds" resultType="java.lang.String">
        SELECT r.id FROM resource r INNER JOIN role_resource rr ON r.ID = rr.RESOURCE_ID
        WHERE rr.ROLE_ID = #{roleId}
    </select>

    <select id="getRoleResourceNames" resultType="java.lang.String">
        SELECT r.name FROM resource r INNER JOIN role_resource rr ON r.ID = rr.RESOURCE_ID
        WHERE rr.ROLE_ID = #{roleId}
    </select>
</mapper>