<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmc.mapper.ResourceTypeMapper">
    <resultMap id="BaseResultMap" type="com.dmc.model.ResourceType">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getResourceTypeList" resultMap="BaseResultMap">
			SELECT * FROM resourcetype
    </select>

    <select id="getById" resultMap="BaseResultMap">
            SELECT * from resourcetype WHERE id = #{id}
    </select>

</mapper>