<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dmc.mapper.UserMapper">


    <!--注册用户-->
    <insert id="save" parameterType="com.dmc.model.User">
        INSERT INTO dmc.user (id, name, username, password)
        VALUES (#{id}, #{name}, #{username}, #{password})
    </insert>

    <!--保存角色-->
    <insert id="saveRoles" parameterType="map">
        INSERT INTO dmc.user_role (USER_ID, ROLE_ID) VALUES
        <foreach collection="roleIds" separator="," item="item">
            (#{id},#{item})
        </foreach>
    </insert>

    <update id="update" parameterType="com.dmc.model.User">
        UPDATE dmc.user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password !=null">
                password = #{password},
            </if>
            modify_time = now(),
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM dmc.user
        WHERE ID = #{id}
    </delete>

    <delete id="deleteRoles">
        DELETE FROM dmc.user_role
        WHERE USER_ID = #{id}
    </delete>

    <!--登录-->
    <select id="login" resultType="com.dmc.model.User">
        SELECT *
        FROM dmc.user
        WHERE username = #{username} AND password = #{password}
    </select>

    <!--统计用户名-->
    <select id="countUserName" resultType="java.lang.Integer">
        SELECT count(1)
        FROM dmc.user
        WHERE username = #{username}
    </select>

    <!--查询用户-->
    <select id="findUser" parameterType="map" resultType="com.dmc.model.User">
        SELECT * FROM dmc.user
        <where>
            <if test="username != null">
                and username like CONCAT('%',#{username},'%')
            </if>
        </where>
        <if test="order != null">
            order by ${sort} ${order}
        </if>

    </select>

    <!--用户的角色-->
    <select id="getUserRoleIds" resultType="java.lang.Long">
        SELECT ROLE_ID
        FROM dmc.user_role
        WHERE USER_ID = #{id}
    </select>

    <!-- 用户的角色名称-->
    <select id="getUserRoleNames" resultType="java.lang.String">
        SELECT r.name
        FROM dmc.role r INNER JOIN dmc.user_role ur ON r.ID = ur.ROLE_ID
        WHERE ur.user_id = #{id}
    </select>

    <select id="getById" resultType="com.dmc.model.User">
        SELECT *
        FROM dmc.user
        WHERE id = #{id}
    </select>

</mapper>